---
- name: Instalar BIND9
  apt:
    name:
      - bind9
      - bind9utils
    state: present
    update_cache: yes

- name: Crear directorio de zonas
  file:
    path: /etc/bind/zones
    state: directory
    owner: bind
    group: bind
    mode: '0755'

- name: Copiar clave TSIG
  template:
    src: ../../templates/tsig.key.j2
    dest: /etc/bind/tsig.key
    owner: bind
    group: bind
    mode: '0640'

- name: Configurar named.conf.options
  template:
    src: named.conf.options.j2
    dest: /etc/bind/named.conf.options
    owner: bind
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Configurar named.conf.local
  template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    owner: bind
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Iniciar y habilitar BIND9
  systemd:
    name: bind9
    state: started
    enabled: yes
